<div class="border-b py-2">
  <button style="cursor: pointer" 
    type="button"
    class="flex justify-between items-center w-full text-left font-medium transition"
    onclick="const a = this.nextElementSibling; a.classList.toggle('hidden'); this.querySelector('svg').classList.toggle('rotate-180')"
  >
    <span><%= @q %></span>
    <svg
      class="w-5 h-5  transition-transform duration-200"
      fill="none" stroke="currentColor" viewBox="0 0 24 24"
      xmlns="http://www.w3.org/2000/svg"
    >
      <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
        d="M19 9l-7 7-7-7" />
    </svg>
  </button>
  <div class="hidden mt-2 text-base pl-1">
    <%= @a %>
  </div>
</div>