<% content_for :title, "EDITING DRAWING" %>

<div class="md:w-2/3 w-full">
  <p class="italic h2 accent" ><%= link_to "GO BACK", href="/"%></p>
  <p class="font-medium">i am collecting your slack ids and users. please don't write anything bad &lt;/3</p>
  <p>(if drawing doesn't show, reload)</p>

  <%= render "form", drawing: @drawing %>

</div>
