<% content_for :title, "Editing drawing" %>

<div class="md:w-2/3 w-full">
  <h1 class="font-bold text-4xl">Editing drawing</h1>

  <%= render "form", drawing: @drawing %>

  <%= link_to "Show this drawing", @drawing, class: "" %>
  <%= link_to "Back to drawings", drawings_path, class: "" %>
</div>
