<div class="md:w-2/3 w-full">
  <%# <h1 class="h2 accent italic">NEW DRAWING</h1> %>
  <p class="italic h2 accent" ><%= link_to "GO BACK", href="/"%></p>
  <%= link_to "GO BACK TO DRAWINGS", drawings_path, class: "cursor-pointer italic accent font-medium" %>
  <p class="font-medium">i am collecting your slack ids and users. please don't write anything bad &lt;/3</p>
  <p>(reload to clear / if base is not showing)</p>

  <%= render "form", drawing: @drawing %>
</div>