<div class="md:w-2/3 w-full">
  <%# <h1 class="h2 accent italic">NEW DRAWING</h1> %>
  <p class="italic h2 accent" ><%= link_to "GO BACK", href="/"%></p>
  <p>(reload to clear)</p>

  <%= render "form", drawing: @drawing %>
</div>
