<%= link_to "GO BACK", root_path(anchor: "guides"), class: "h2 italic accent cursor"%>
<article class="guide-container p-6 max-w-2xl mx-auto mt-6">
  <header>
    <h1 class="h2 italic mb-6">HOW TO: CREATE A RAILS APP</h1>
  </header>
  <section class="mb-6">
    <h2 class="h3 accent mb-2">1. install ruby on rails</h2>
    <p>
      follow the official instructions for installing ruby on rails:<br>
      <a href="https://guides.rubyonrails.org/install_ruby_on_rails.html#choose-your-operating-system" target="_blank" class="underline cursor accent">
        guides.rubyonrails.org/install_ruby_on_rails.html#choose-your-operating-system
      </a>
    </p>
  </section>
  <section class="mb-6">
    <h2 class="h3 accent mb-2">2. install postgresql packages</h2>
    <p>
      using postgresql in ruby requires you to have postgresql installed on your system. you will need to install the server, client, and development header packages. if they are not installed, <code>bundle install</code> will fail when setting up the project and you won't be able to create a database.
    </p>
    <ul class="list-disc ml-6 mt-2">
      <li>
        <strong>ubuntu:</strong> <code>sudo apt install postgresql postgresql-contrib libpq-dev</code>
      </li>
      <li>
        <strong>macos:</strong>
        <div class="ml-4">
          <code>brew install postgresql</code><br>
          <code>brew services start postgresql</code>
        </div>
      </li>
    </ul>
  </section>
  <section class="mb-6">
    <h2 class="h3 accent mb-2">3. create your rails project</h2>
    <p>
      follow the official instructions for creating a new rails project:<br>
      <a href="https://guides.rubyonrails.org/getting_started.html#creating-a-new-rails-app" target="_blank" class="underline cursor accent">
        guides.rubyonrails.org/getting_started.html#creating-a-new-rails-app
      </a>
    </p>
    <ul class="list-disc ml-6 mt-2">
      <li>
        <strong>important:</strong> in the command to create the app, add the flag:<br> <code>--database=postgresql</code> <br>
        <p>and <strong>use the actual name of your app!</strong> if you change your mind later, this can be changed, it's just a little bit of unnecessary manual work</p>
      </li>
      <li>
        example: <code>rails new your_app_name_here --database=postgresql</code>
      </li>
    </ul>
  </section>
</article>