<%= link_to "GO BACK ", root_path, class: "h1 italic accent cursor"%>
<p class="h2 italic">HOW TO: CREATE A RAILS APP</p>

<div>
  <p class="h2 accent p-2">
    follow the official instructions for installing ruby on rails 
    <a href="https://guides.rubyonrails.org/install_ruby_on_rails.html#choose-your-operating-system" target="_blank" class="underline cursor">
      https://guides.rubyonrails.org/install_ruby_on_rails.html#choose-your-operating-system
    </a>
  </p>
  <p class="h2 accent p-2">
    follow the officials instructions for creating a project with ruby on rails: 
    <a href="https://guides.rubyonrails.org/getting_started.html#creating-a-new-rails-app" target="_blank" class="underline cursor">
      https://guides.rubyonrails.org/getting_started.html#creating-a-new-rails-app
    </a>
    <p><strong>!! in the command to create the app, attach </p></strong>
    <code>--database=postgresql</code>
    <p>eg, </p>
    <code>rails new store --database=postgresql</code>
  </p>
</div>