<%= link_to "GO BACK", root_path(anchor: "guides"), class: "h2 italic accent cursor hover:underline" %>

<article class="guide-container p-6 max-w-2xl mx-auto mt-6">
  <header>
    <h1 class="h2 italic mb-6 uppercase">HOW TO: DEPLOY A RAILS APP (WITH RENDER)</h1>
  </header>

  <section class="mb-6">
    <h2 class="h3 accent mb-2 lowercase italic">1. deploy on render</h2>
    <p class="leading-relaxed lowercase">
      follow the official render docs:<br>
      <a href="https://render.com/docs/deploy-rails-8" target="_blank" class="underline cursor accent lowercase ">
        render.com/docs/deploy-rails-8
      </a>
    </p>
    <ul class="list-disc ml-6 mt-2 lowercase">
      <li>
        <span class="font-bold">note:</span> it's free, but your app will only run for a month.
      </li>
    </ul>
  </section>

  <section class="mb-6">
    <h2 class="h3 accent mb-2 lowercase italic">2. other deployment options</h2>
    <ul class="list-disc ml-6 mt-2 lowercase">
      <li>
        <span class="font-bold">run your own server:</span> you can deploy rails on your own server. see the official deployment guide:<br>
        <a href="https://guides.rubyonrails.org/getting_started.html#deploying-to-production" target="_blank" class="underline cursor accent lowercase">
          guides.rubyonrails.org/getting_started.html#deploying-to-production
        </a>
      </li>
      <li>
        <span class="font-bold">hack club nest:</span> you can also deploy your app for free using
        <a href="https://hackclub.app/" target="_blank" class="underline cursor accent lowercase">hack club nest</a>!! make sure to join the slack channel (#nest) if you do.
