<%= link_to "GO BACK", root_path, class: "h1 italic accent cursor"%>
<p class="h2 italic">HOW TO: SETUP GIT</p>
<div>
<p class="h2 accent p-2">
    follow this guide: 
    <a href="https://www.theodinproject.com/lessons/foundations-introduction-to-git" target="_blank" class="underline cursor">
      https://www.theodinproject.com/lessons/foundations-introduction-to-git
    </a>
  </p>
</div>

<%# <p class="h2 accent p-2"></p>
<p></p> %>