<%= link_to "GO BACK", root_path(anchor: "guides"), class: "h2 italic accent cursor" %>

<article class="guide-container p-6 max-w-2xl mx-auto mt-6">
  <header>
    <h1 class="h2 italic mb-6 uppercase">how to: set up git</h1>
  </header>

  <section class="mb-6">
    <h2 class="h3 accent mb-2 lowercase italic">2. install git</h2>
    <p class="leading-relaxed lowercase">
      follow the official git installation guide for your operating system:<br>
      <a href="https://www.theodinproject.com/lessons/foundations-setting-up-git" target="_blank" class="underline cursor accent lowercase">
        theodinproject.com/lessons/foundations-setting-up-git
      </a>
    </p>
    <ul class="list-disc ml-6 mt-2 lowercase">
      <li>
        make sure to follow the instructions for your specific os (linux if you're using wsl2).
      </li>
    </ul>
  </section>
</article>
