<%= link_to "GO BACK ", root_path, class: "h1 italic accent cursor"%>
<p class="h2 italic">HOW TO: CREATE A GITHUB REPO</p>
<div>
    <p class="h2 accent p-2">navigate to
    <a href="github.com" target="_blank" class="underline cursor">
        github.com
    </a>
    </p>
    <p class="h2 accent p-2">select yourself as the owner and name your repo whatever your heart desires</p>
    <p class="h2 accent p-2">scroll to the bottom and select create repository</p>
    <p class="h2 accent p-2">clone the repo locally:</p>
    <p>copy the ssh url and paste this command into your terminal</p>
    <code>git clone replace_with_ssh_url</code>
<p class="h2 accent p-2"></p>
</div>

<%# <p class="h2 accent p-2"></p>
<p></p> %>