<%= link_to "GO BACK", root_path(anchor: "guides"), class: "h2 italic accent cursor hover:underline"%>
<article class="guide-container p-6 max-w-2xl mx-auto bg-white rounded shadow mt-6">
  <header>
    <h1 class="h2 italic mb-6">How to: Create a GitHub Repo</h1>
  </header>
  <section>
    <h2 class="h3 accent mb-2">1. Go to GitHub</h2>
    <p>
      Navigate to:<br>
      <a href="https://github.com" target="_blank" class="underline cursor accent">
        github.com
      </a>
    </p>
    <ul class="list-disc ml-6 mt-2">
      <li>Select yourself as the owner and name your repo whatever you want.</li>
      <li>Scroll to the bottom and select <strong>Create repository</strong>.</li>
      <li>
        Clone the repo locally:<br>
        <span>Copy the SSH URL and paste this command into your terminal:</span><br>
        <code>git clone replace_with_ssh_url</code>
      </li>
    </ul>
  </section>
</article>