<%= link_to "GO BACK", root_path(anchor: "guides"), class: "h2 italic accent cursor" %>

<article class="guide-container p-6 max-w-2xl mx-auto mt-6">
  <header>
    <h1 class="h2 italic mb-6 uppercase">HOW TO: INSTALL LINUX</h1>
  </header>

  <section class="mb-6">
    <h2 class="h3 accent mb-2 lowercase italic tracking-tight">why?</h2>
    <p class="leading-relaxed">
      rails is built for unix-based systems (e.g., mac and linux). if you're on windows, you'll have to install the windows subsystem for linux (wsl2).
    </p>
  </section>

  <section>
    <h2 class="h3 accent mb-2 uppercase">1. set up wsl2</h2>
    <p class="leading-relaxed">
      follow the odin project's guide on setting up wsl2:<br>
      <a href="https://www.theodinproject.com/lessons/foundations-installations" target="_blank" class="underline cursor accent lowercase">
        theodinproject.com/lessons/foundations-installations
      </a>
    </p>
    <ul class="list-disc ml-6 mt-2 lowercase">
      <li>
        follow <strong>wsl2 (advanced)</strong> under <strong>os installation</strong>.
      </li>
    </ul>
  </section>
</article>
