<%= link_to "GO BACK", root_path, class: "h1 italic accent cursor"%>
<p class="h2 italic">HOW TO: INSTALL LINUX</p>
<div>
    <p>rails is built for unix-based systems (eg mac and linux). if you're on windows, you'll have to install the windows subsystem (wsl2) for linux.</p>
    <p class="h2 accent p-2">
    follow the odin project's guide on setting up wsl2 
    <a href="https://www.theodinproject.com/lessons/foundations-installations">
        https://www.theodinproject.com/lessons/foundations-installations
    </a>
    <p>- follow 'wsl2 (advanced)' under 'os installation'</p>
    <p>- follow 'wsl2' under 'google chrome installation'</p>
    </p>
</div>