<%= link_to "GO BACK", root_path(anchor: "guides"), class: "h2 italic accent cursor hover:underline"%>
<article class="guide-container p-6 max-w-2xl mx-auto bg-white rounded shadow mt-6">
  <header>
    <h1 class="h2 italic mb-6">How to: Install VSCode</h1>
  </header>
  <section class="mb-6">
    <h2 class="h3 accent mb-2">1. Follow the Odin Project Guide</h2>
    <p>
      Use this guide to get introduced to VSCode:<br>
      <a href="https://www.theodinproject.com/lessons/foundations-text-editors" target="_blank" class="underline cursor accent">
        theodinproject.com/lessons/foundations-text-editors
      </a>
    </p>
  </section>
  <section>
    <h2 class="h3 accent mb-2">2. VSCode + WSL Setup</h2>
    <p>
      Follow the official Microsoft tutorial for using VSCode with WSL:<br>
      <a href="https://learn.microsoft.com/en-us/windows/wsl/tutorials/wsl-vscode" target="_blank" class="underline cursor accent">
        learn.microsoft.com/en-us/windows/wsl/tutorials/wsl-vscode
      </a>
    </p>
    <ul class="list-disc ml-6 mt-2">
      <li>
        Make sure to complete the optional part of installing Windows Terminal. We will install Git later on!
      </li>
    </ul>
  </section>
</article>