<%= link_to "GO BACK", root_path, class: "h1 italic accent cursor"%>
<p class="h2 italic">HOW TO: SET UP WAKATIME</p>
<p class="h2 accent p-2">
  follow the official hackatime docs: 
  <a href="https://hackatime.hackclub.com/docs" target="_blank" class="underline cursor">
    hackatime.hackclub.com/docs
  </a>
</p>

<%# <p class="h2 accent p-2"></p>
<p></p> %>