<%= link_to "GO BACK", root_path, class: "h1 italic accent cursor"%>
<p class="h2 italic">HOW TO: SET UP HACKATIME</p>
<div>
<p class="h2 accent p-2">
    follow the official hackatime docs: 
    <a href="https://hackatime.hackclub.com/docs" target="_blank" class="underline cursor">
      hackatime.hackclub.com/docs
    </a>
  </p>
  <p>if on wsl2, make sure that you're setting up hackatime for your linux installation of vscode rather than your windows installation!!</p>
</div>

<%# <p class="h2 accent p-2"></p>
<p></p> %>