<%= link_to "GO BACK", root_path(anchor: "guides"), class: "h2 italic accent cursor"%>
<article class="guide-container p-6 max-w-2xl mx-auto mt-6">
  <header>
    <h1 class="h2 italic mb-6">HOW TO: SET UP HACKATIME</h1>
  </header>
  <section>
    <h2 class="h3 accent mb-2">1. follow the docs</h2>
    <p>
      follow the official hackatime docs:<br>
      <a href="https://hackatime.hackclub.com/docs" target="_blank" class="underline cursor accent">
        hackatime.hackclub.com/docs
      </a>
    </p>
    <ul class="list-disc ml-6 mt-2">
      <li>
        if on wsl2, make sure you're setting up hackatime for your linux installation of VSCode, not your windows installation!
      </li>
    </ul>
  </section>
</article>